                    <h4>&#x2139;&#xFE0F; 服务信息</h4>
                    <details>
                        <summary class="mb-2">本站支持 IPv4 与 IPv6 访问</summary>
                        <p>请使用 <a href="//mirror.bit.edu.cn">mirror.bit.edu.cn</a> 自动解析（北理工校内为 IPv4 免流量网段）</p>
                        <p>
                            以下域名仅供测试使用：<br>
                            <a href="//mirrors4.bitnp.net">强制 IPv4 教育网</a><br>
                            <a href="//mirrors6.bitnp.net">强制 IPv6</a> <span class="text-muted">（暂不支持 ICMPv6）</span>
                        </p>
                        <p>支持 HTTP、HTTPS、RSYNC 协议</p>
                    </details>
                    <a href="{{ $.Site.Params.feedbackLink }}">意见建议请通过 GitHub 反馈</a>